<main class="main">
  <div class="route">
    <nav>
      <ul>
        <li><a routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">Проекты</a></li>
        <li><a routerLink="/projects/52" routerLinkActive="active" ariaCurrentWhenActive="page">Редактор проекта</a></li>
        <li><a routerLink="/projects/52/tasks" routerLinkActive="active" ariaCurrentWhenActive="page">Список задач проекта</a></li>
        <li><a routerLink="/projects/new" routerLinkActive="active" ariaCurrentWhenActive="page">Создание проекта</a></li>
      </ul>
    </nav>
  </div>
  <div class="content">
  </div>
</main>
<router-outlet />
